/* кадры для анимации масштабирования */
@keyframes scale-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

/* кадры для анимации прозрачности искр */
@keyframes sparks-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}