.page {
  font-family: var(--font-family-main, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-text, 400);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: 100px;
  background-image: var(--gradient-left), var(--gradient-top), var(--gradient-main);
  background-color: var(--main-color, #fff);
  background-size: cover;
  background-attachment: fixed;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 2px solid var(--accent-color, #000);
  background: none;
  background-color: var(--main-color, #fff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color, #000);
}

.button::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.5s ease-in-out;
  background-color: var(--accent-color, #000);
}

.button:hover::after {
  scale: 1 1;
}

.button__text {
  font-family: var(--font-family-accent, fantasy);
  color: var(--main-color, #fff);
  font-size: 14px;
  line-height: 90%;
  z-index: 1;
  mix-blend-mode: difference;
}

.block-size {
  inline-size: clamp(375px, 100vw, 700px);
}

.header {
  font-family: var(--font-family-accent, fantasy);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 120px 0;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color, #000);
  background-color: var(--main-color, #fff);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color, #000);
  background-color: var(--main-color, #fff);
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-title, 715);
  line-height: 123%;
  padding: 4px 10px;
}

.card__label {
  font-family: var(--font-family-accent, fantasy);
  font-size: 14px;
  color: var(--font-color, #000);
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--text-stroke-color, #fff), 
    0 1px var(--text-stroke-color, #fff), 
    1px 0 var(--text-stroke-color, #fff), 
    0 -1px var(--text-stroke-color, #fff);
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .card__label {
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
    text-shadow: none;
  }
}

.card__img {
  position: relative;
  block-size: clamp(375px, 100vw, 700px);
  border-top: 2px solid var(--accent-color, #000);
  border-bottom: 2px solid var(--accent-color, #000);
}

.img {
  inline-size: 100%;
  block-size: clamp(371px, 100vw - 4px, 696px);
  object-fit: cover;
  object-position: center;
}

.negative {
  filter: invert(1);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.contrast {
  filter: contrast(3);
}

.grayscale {
  filter: grayscale(0.8);
}

.sepia {
  filter: sepia(0.6);
}

.blur {
  filter: blur(15px);
}

.multiply-filter {
  filter: sepia(1) contrast(2) brightness(200%);
}

.card__text {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-text, 410);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__button-container {
  display: flex;
  align-self: flex-end;
  gap: 7px;
}

.like-icon {
  inline-size: 36px;
  block-size: 34px;
}

.card__icon-button {
  inline-size: 38px;
  block-size: 38px;
  border: none;
  transition: none;
}

.card__icon-button::after {
  display: none;
}

.card__like-button {
  min-inline-size: 130px;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  box-shadow: none;
  border: 2px solid var(--accent-color, #000);
}

.floppy-icon {
  inline-size: 28px;
  block-size: 28px;
  fill: var(--main-color, #fff);
  z-index: 1;
  mix-blend-mode: difference;
}

.save-button {
  align-self: center;
  gap: 9px;
  inline-size: 306px;
  block-size: 84px;
}

.modal {
  font-family: var(--font-family-accent, fantasy);
  font-size: 14px;
  text-transform: uppercase;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  gap: 30px;
  inline-size: 341px;
  padding: 28px 38px;
  border: 2px solid var(--accent-color, #000);
}

.modal:not([open]) {
  display: none;
}

.modal::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal__floppy {
  block-size: 39px;
  inline-size: 39px;
}

.modal__text {
  line-height: 150%;
  inline-size: 198px;
}

.modal__form {
  display: flex;
  block-size: 38px;
}

.modal__close-button {
  inline-size: 100%;
}

@media (width > 700px) {
  .header {
    padding: 128px 0;
  }
  .button {
    flex-direction: row;
  }
  .save-button {
    inline-size: 335px;
    block-size: 55px;
  }
  .floppy-icon {
    inline-size: 21px;
    block-size: 21px;
  }
  .modal {
    inline-size: 353px;
    padding: 28px;
  }
}